
/* This is a single line comment */	

h1 {color: darkred; font-size: 22pt;} 

Body { background: lightyellow; 
	     color: darkorange;
	     font-size: 14pt;
	   }

h2 {color: darkorange; font-size: 20pt;}

